<p class="text-xl lg:text-2xl text-pretty">
  Ever since discovering the power of code, I've enjoyed building and leaving an
  impact through digital experiences that bring real world solutions. I'm a
  former professional soccer player and a follower of Jesus passionate about
  technology and programming.
</p>
<p class="text-xl lg:text-2xl text-pretty">
  Committed to delivering high-quality work, creating seamless user experiences
  and achieving measurable results. I also offer content management services.
</p>
<p class="text-xl lg:text-2xl text-pretty">
  I enjoy sharing what I learn and documenting my journey. Always looking to
  learn, improve, take on new challenges and help others on their journey.
</p>
<p class="text-xl lg:text-2xl text-pretty">
  When I'm not coding, I enjoy playing soccer, reading, taking photos, playing
  guitar, and building meaningful relationships.
</p>
