<p class="text-xl lg:text-2xl text-pretty">
    Front-End focused with Full-Stack experience. I also offer content management and marketing services.
    I'm commited to delivering high-quality work and strive to create digital experiences that are not only functional but also engaging and enjoyable. 
</p>
<p class="text-xl lg:text-2xl text-pretty">
    I enjoy sharing what I learn with others and documenting my journey.
    Always eager to grow, take on new challenges and learn something new.
</p>
<p class="text-xl lg:text-2xl text-pretty">
    Besides coding, I like playing football, reading, playing guitar and making meaningful relationships. 
</p>