<span>
    <span class="animate--fast animate--me-1 intro-me">
        <span class="text-yellow-500/90">Web Developer</span>.
    </span>
    <span class="animate--fast animate--me-2 intro-me">
        I love <span class="text-red-500/90">crafting</span>
        beautiful UIs, 
    </span>
    <span class="animate--fast animate--me-3 intro-me">
        <span class="text-blue-600/80">solving problems</span>,
    </span>
    <span class="animate--fast animate--me-4 intro-me">
        and bringing ideas to <span class="text-green-600/80">life</span>
        with code.
    </span>
</span>