<form id="my-form" action="https://formspree.io/f/xzbnzwzb" method="POST">
    <div class="mb-5">
        <label
            for="name"
            class="block mb-2 text-gray-900 font-semibold"
            >Your name</label
        >
        <input
            type="text"
            id="name"
            name="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="John Doe"
            required
            autocomplete="off"
        />
    </div>
    <div class="mb-5">
        <label
            for="email"
            class="block mb-2 text-gray-900 font-semibold"
            >Your email</label
        >
        <input
            type="email"
            id="email"
            name="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="name@example.com"
            required
        />
    </div>
    <div class="mb-5">
        <label for="message" class="block mb-2 text-gray-900 font-semibold">Your message</label>
        <textarea id="message" name="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" 
        placeholder="What can I help you with?" required></textarea>
    </div>
    <button
        type="submit"
        aria-label="Submit form"
        class="text-white bg-blue-600 hover:bg-blue-600/90 transition ease-in-out delay-100 duration-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
        >Submit</button
    >
    <p id="my-form-status" class="mt-5 text-green-600 font-semibold"></p>
</form>
<script>
    let form = document.getElementById("my-form") as HTMLFormElement | null;
    
    async function handleSubmit(event) {
      event.preventDefault();
      let status = document.getElementById("my-form-status");
      let data = new FormData(event.target);
      status.classList.contains('hidden') && status.classList.remove('hidden');
      status.textContent = "Sending...";
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.textContent = "Thanks for your submission!";
          form.reset();
          setTimeout(function() {
            status.classList.add('hidden');
        }, 5000);
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.textContent = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.textContent = "Oops! There was a problem submitting your form"
            }
          })
        }
      }).catch(error => {
        status.textContent = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>