<header class="flex justify-between items-center py-3 w-[1120px]">
    <img class="rounded-full size-16 object-cover" src="/profile.png" alt="Jorge Alvarado photo">
    <nav class="flex items-center gap-x-5 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>