<header class="flex justify-between items-center py-3 px-5 w-full xl:w-[1120px] mx-auto">
    <img class="size-14" src="/brand.png" alt="Jorge Alvarado brand">
    <nav class="flex font-semibold items-center gap-x-5 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>