<p class="text-xl lg:text-2xl text-pretty">
  Desde que descubrí el código, he disfrutado construir experiencias digitales
  que ofrecen soluciones relevantes. Soy ex futbolista profesional y seguidor de
  Jesús apasionado por la tecnología y la programación.
</p>
<p class="text-xl lg:text-2xl text-pretty">
  Disfruto compartir lo que aprendo y documentar mi vida. Busco mejorar,
  aprender, enfrentar nuevos desafíos y ayudar a otros.
</p>
<p class="text-xl lg:text-2xl text-pretty">
  Cuando no estoy codificando, disfruto jugar fútbol, leer, tomar fotos, tocar
  la guitarra y forjar nuevas amistades.
</p>
