<span class="text-pretty">
  <span class="animate--fast animate--me-1 intro-me">
    <span class="text-yellow-500/90">Desarrollador de software</span>.
  </span>
  <span class="animate--fast animate--me-2 intro-me">
    Me encanta <span class="text-red-500/90">crear</span>
    experiencias digitales,
  </span>
  <span class="animate--fast animate--me-3 intro-me">
    <span class="text-blue-600/80">resolver problemas</span>,
  </span>
  <span class="animate--fast animate--me-4 intro-me">
    y traer ideas <span class="text-green-600/80">relevantes</span>
    a través del código.
  </span>
</span>
