<p class="text-xl lg:text-2xl text-pretty">
  Desde que descubrí la codificación, he disfrutado construir experiencias
  digitales que ofrecen soluciones relevantes. Soy ex futbolista profesional y
  seguidor de Jesús apasionado por la tecnología y la programación.
</p>
<p class="text-xl lg:text-2xl text-pretty">
  Comprometido con entregar trabajo de alta calidad, crear experiencias de
  usuario efectivas y alcanzar resultados medibles. También ofrezco servicios de
  gestión de contenido.
</p>
<p class="text-xl lg:text-2xl text-pretty">
  Disfruto compartir lo que aprendo y documentar mi vida. Busco aprender,
  mejorar, enfrentar nuevos desafíos y ayudar a otros.
</p>
<p class="text-xl lg:text-2xl text-pretty">
  Cuando no estoy codificando, disfruto jugar fútbol, leer, tomar fotos, tocar
  la guitarra y forjar nuevas amistades.
</p>
